/*
Hello everyone, welcome to the style sheet made by me. (Juan F. Martinez).

Style sheet made with sass preprocessor following a web design made in figma with typography, color palette and width and height measurements.

The designs were created with the following widths of 375px on Mobile and 1440px on Desktop.

## Means Queries
The media queries were made in a separate style sheet, it can be identified by its respective name ./styles-mediasQueries.scss

##Icon
The icons found in the social media section were taken from the page https://icons8.com/

## Typography
The typography was taken from google fonts and two were used for this project, one for the Header and another for the body of the content:

# Headings
Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weight: 600

#Body, Call-to-actions
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700 
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,600;1,600&display=swap");

/************************* Typography *************************/
// Body and call-to-actions typography
$Body-typo: "Open Sans", sans-serif;

// Headings typography
$Headings-typo: "Poppins", sans-serif;

/************************* Color *************************/
// Primary Color
$primaryColor-pink: hsl(322, 100%, 66%);

// Secondary Color
$neutralColor-very-pale-cyan: hsl(193, 100%, 96%);
$neutralColor-very-dark-cyan: hsl(192, 100%, 9%);
$neutralColor-grayish-blue: hsl(208, 11%, 55%);

/************************* Resets Layouts  *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

/************************* General Layout *************************/
body {
  font-size: 1.125rem;
}

/************************* Header *************************/
// Header Container and background
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  background-color: $neutralColor-very-pale-cyan;
  background-image: url(/src/assets/bg-hero-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Nav. container, brand logo and button
.header-nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 4.27vw * 2);
  height: auto;
  margin-top: 6%;
  margin-bottom: 5rem;

  &-title {
    width: calc(100% - (100% - 60.64% / 2));
  }

  &-btn {
    max-width: 96px;
    width: calc(100% - (100% - 60.64% / 2));
    height: 1.5rem;
    color: #00252e;
    background: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
    border: none;
    border-radius: 12px;
    text-decoration: none;
  }
}

// Header container that represents what you offer as a company
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 9.333%);
  height: auto;
  margin-bottom: 2.3125rem;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem;
    overflow-wrap: break-word;

    h1 {
      font-family: $Headings-typo;
      font-weight: 500;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    p {
      font-family: $Body-typo;
      text-align: center;
      margin-bottom: 2rem;
    }

    button {
      width: 15rem;
      height: 2.5rem;
      color: #ffffff;
      background: $primaryColor-pink;
      box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
      border-radius: 20px;
      border: none;
    }

    button:hover {
      background: #ff9adb;
      outline: none;
    }
  }

  img {
    max-width: 100%;
  }
}

/************************* Main *************************/
// Parent container and background
.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  gap: 3.125rem;
  background-color: #FFFFFF;
  background-size: cover;
}

// Child containers, styling and positioning
.main-section-container1,
.main-section-container2,
.main-section-container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  width: calc(100vw - 10.6667%);
  background-color: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;

  &-info {
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin-bottom: 2.06rem;
    gap: 1rem;

    h2 {
      width: 16rem;
      font-family: $Headings-typo;
      font-style: normal;
      font-size: 20px;
      text-align: center;
      color: #00252e;
    }
    p {
      font-family: $Body-typo;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      line-height: 21px;
      color: $neutralColor-grayish-blue;
    }
  }

  img {
    width: 16rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

// First container of main
.main-section-container1 {
  margin-top: 3.6875rem;
}

// Third container of main
.main-section-container3 {
  margin-bottom: 14.31rem;
}

// Container call to action
.main-section-container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  max-width: 430px;
  width: calc(100% - 6.13%);
  background-color: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  transform: translateY(4rem);

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.56rem;
    margin-bottom: 2.56rem;
    gap: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
    text-align: center;
    color: $neutralColor-very-dark-cyan;
  }

  // Container call to action button
  button {
    width: 15rem;
    height: 2.5rem;
    font-size: 0.625rem;
    font-family: $Body-typo;
    color: #ffffff;
    background: $primaryColor-pink;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background: #ff9adb;
    outline: none;
  }
}

/************************* Footer *************************/
// Footer container and background
.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $neutralColor-very-dark-cyan;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #ff9adb;
    outline: none;
  }
}

// Container that has all the information in the footer as children
.hero {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10.6667%);
}

//  Icon Social Media Section
.footer-container-socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  &-icon {
    img {
      gap: 5rem;
    }
  }

  &-cr {
    margin-bottom: 2.875rem;
    font-size: 0.696rem;
    text-align: center;
  }
}

//  Link Menu Section
.footer-container-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  gap: 1rem;
}

// Info Section
.footer-container-info {
  display: flex;
  flex-direction: column;
  margin-top: 8.688rem;
  margin-bottom: 2.5625rem;
  gap: 1.5rem;

  img {
    width: 8.79rem;
    height: 1.625rem;
  }

  .location-container,
  .phone-container,
  .email-container {
    display: inline-flex;
    gap: 1rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

/* End of the style sheet. */